.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.771973;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.964844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.009766;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.916000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.116211;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.928645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-2.391036px;}
._6{margin-left:-1.317697px;}
._14{width:1.357064px;}
._9{width:7.580978px;}
._8{width:8.587216px;}
._4{width:9.686281px;}
._f{width:11.642423px;}
._16{width:13.462015px;}
._3{width:15.054018px;}
._a{width:17.525582px;}
._1a{width:19.932321px;}
._5{width:30.676214px;}
._0{width:38.097174px;}
._2{width:39.757090px;}
._17{width:63.795114px;}
._b{width:70.378207px;}
._e{width:151.251266px;}
._11{width:152.406928px;}
._13{width:158.851852px;}
._1e{width:193.421803px;}
._c{width:241.871076px;}
._1b{width:299.048244px;}
._15{width:381.332649px;}
._d{width:413.407303px;}
._7{width:431.161141px;}
._10{width:514.862717px;}
._12{width:551.681614px;}
._1f{width:583.200249px;}
._1d{width:591.797817px;}
._18{width:821.694453px;}
._19{width:879.786357px;}
._1c{width:920.031867px;}
.fc8{color:rgb(167,226,46);}
.fc7{color:rgb(140,140,140);}
.fc6{color:rgb(254,151,32);}
.fc5{color:rgb(153,153,153);}
.fc4{color:rgb(250,39,114);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(102,217,238);}
.fc3{color:rgb(0,0,0);}
.fc2{color:rgb(77,77,77);}
.fs5{font-size:27.895200px;}
.fs3{font-size:31.880400px;}
.fs2{font-size:39.850400px;}
.fs4{font-size:57.384800px;}
.fs1{font-size:68.861600px;}
.fs0{font-size:159.402400px;}
.y23{bottom:172.299000px;}
.y22{bottom:184.254000px;}
.y21{bottom:196.209000px;}
.y20{bottom:212.579000px;}
.y1f{bottom:224.534000px;}
.y1e{bottom:236.489000px;}
.y1d{bottom:252.961000px;}
.y1c{bottom:264.916000px;}
.y1b{bottom:276.872000px;}
.y1a{bottom:288.827000px;}
.y19{bottom:300.782000px;}
.y18{bottom:312.737000px;}
.y17{bottom:327.185000px;}
.y40{bottom:334.073000px;}
.y16{bottom:339.141000px;}
.y3f{bottom:346.028000px;}
.y15{bottom:351.096000px;}
.y3e{bottom:357.983000px;}
.y14{bottom:367.568000px;}
.y3d{bottom:369.938000px;}
.y13{bottom:379.523000px;}
.y3c{bottom:381.894000px;}
.y3b{bottom:393.849000px;}
.y12{bottom:395.995000px;}
.y3a{bottom:405.804000px;}
.y11{bottom:407.950000px;}
.y39{bottom:417.759000px;}
.y10{bottom:419.905000px;}
.y38{bottom:429.714000px;}
.yf{bottom:431.860000px;}
.ye{bottom:448.332000px;}
.y37{bottom:453.741000px;}
.y35{bottom:456.372000px;}
.y36{bottom:458.497000px;}
.yd{bottom:460.288000px;}
.y34{bottom:468.327000px;}
.y33{bottom:480.283000px;}
.yc{bottom:481.784000px;}
.y32{bottom:492.238000px;}
.y31{bottom:504.193000px;}
.yb{bottom:515.101000px;}
.ya{bottom:527.057000px;}
.y30{bottom:530.096000px;}
.y2f{bottom:542.051000px;}
.y9{bottom:553.358000px;}
.y2e{bottom:554.006000px;}
.y2d{bottom:565.961000px;}
.y2c{bottom:577.916000px;}
.y8{bottom:579.659000px;}
.y7{bottom:591.614000px;}
.y2b{bottom:603.999000px;}
.y2a{bottom:615.954000px;}
.y6{bottom:617.916000px;}
.y4b{bottom:630.699000px;}
.y29{bottom:639.865000px;}
.y4a{bottom:640.163000px;}
.y5{bottom:644.217000px;}
.y49{bottom:649.628000px;}
.y28{bottom:663.775000px;}
.y48{bottom:665.674000px;}
.y4{bottom:665.714000px;}
.y47{bottom:675.139000px;}
.y27{bottom:675.730000px;}
.y46{bottom:684.603000px;}
.y26{bottom:687.685000px;}
.y3{bottom:693.990000px;}
.y45{bottom:694.068000px;}
.y25{bottom:699.641000px;}
.y44{bottom:710.115000px;}
.y24{bottom:711.596000px;}
.y2{bottom:712.231000px;}
.y43{bottom:719.579000px;}
.y42{bottom:729.044000px;}
.y0{bottom:735.000000px;}
.y41{bottom:750.540000px;}
.y1{bottom:752.324000px;}
.h9{height:24.830542px;}
.h4{height:27.656178px;}
.h7{height:28.377915px;}
.h6{height:31.249874px;}
.h5{height:35.472304px;}
.h8{height:44.999995px;}
.h3{height:53.999868px;}
.h1{height:57.000000px;}
.h2{height:121.419797px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:17.091000px;}
.x1c{left:31.356000px;}
.x12{left:39.023000px;}
.x7{left:43.697000px;}
.xc{left:45.561000px;}
.x1a{left:47.322000px;}
.x1b{left:49.097000px;}
.xb{left:51.247000px;}
.x11{left:55.328000px;}
.x14{left:57.691000px;}
.x10{left:59.828000px;}
.xa{left:63.024000px;}
.x13{left:68.395000px;}
.xe{left:73.044000px;}
.xd{left:75.123000px;}
.x6{left:76.340000px;}
.x8{left:78.046000px;}
.x19{left:81.527000px;}
.x9{left:88.607000px;}
.xf{left:99.864000px;}
.x15{left:112.688000px;}
.x16{left:115.549000px;}
.x17{left:119.789000px;}
.x18{left:124.284000px;}
.x2{left:158.740000px;}
.x4{left:220.819000px;}
.x5{left:237.524000px;}
.x3{left:248.448000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-3.188048pt;}
._6{margin-left:-1.756929pt;}
._14{width:1.809419pt;}
._9{width:10.107970pt;}
._8{width:11.449622pt;}
._4{width:12.915041pt;}
._f{width:15.523231pt;}
._16{width:17.949354pt;}
._3{width:20.072023pt;}
._a{width:23.367442pt;}
._1a{width:26.576428pt;}
._5{width:40.901618pt;}
._0{width:50.796231pt;}
._2{width:53.009453pt;}
._17{width:85.060153pt;}
._b{width:93.837610pt;}
._e{width:201.668355pt;}
._11{width:203.209237pt;}
._13{width:211.802469pt;}
._1e{width:257.895738pt;}
._c{width:322.494768pt;}
._1b{width:398.730991pt;}
._15{width:508.443532pt;}
._d{width:551.209738pt;}
._7{width:574.881521pt;}
._10{width:686.483622pt;}
._12{width:735.575486pt;}
._1f{width:777.600332pt;}
._1d{width:789.063756pt;}
._18{width:1095.592604pt;}
._19{width:1173.048476pt;}
._1c{width:1226.709156pt;}
.fs5{font-size:37.193600pt;}
.fs3{font-size:42.507200pt;}
.fs2{font-size:53.133867pt;}
.fs4{font-size:76.513067pt;}
.fs1{font-size:91.815467pt;}
.fs0{font-size:212.536533pt;}
.y23{bottom:229.732000pt;}
.y22{bottom:245.672000pt;}
.y21{bottom:261.612000pt;}
.y20{bottom:283.438667pt;}
.y1f{bottom:299.378667pt;}
.y1e{bottom:315.318667pt;}
.y1d{bottom:337.281333pt;}
.y1c{bottom:353.221333pt;}
.y1b{bottom:369.162667pt;}
.y1a{bottom:385.102667pt;}
.y19{bottom:401.042667pt;}
.y18{bottom:416.982667pt;}
.y17{bottom:436.246667pt;}
.y40{bottom:445.430667pt;}
.y16{bottom:452.188000pt;}
.y3f{bottom:461.370667pt;}
.y15{bottom:468.128000pt;}
.y3e{bottom:477.310667pt;}
.y14{bottom:490.090667pt;}
.y3d{bottom:493.250667pt;}
.y13{bottom:506.030667pt;}
.y3c{bottom:509.192000pt;}
.y3b{bottom:525.132000pt;}
.y12{bottom:527.993333pt;}
.y3a{bottom:541.072000pt;}
.y11{bottom:543.933333pt;}
.y39{bottom:557.012000pt;}
.y10{bottom:559.873333pt;}
.y38{bottom:572.952000pt;}
.yf{bottom:575.813333pt;}
.ye{bottom:597.776000pt;}
.y37{bottom:604.988000pt;}
.y35{bottom:608.496000pt;}
.y36{bottom:611.329333pt;}
.yd{bottom:613.717333pt;}
.y34{bottom:624.436000pt;}
.y33{bottom:640.377333pt;}
.yc{bottom:642.378667pt;}
.y32{bottom:656.317333pt;}
.y31{bottom:672.257333pt;}
.yb{bottom:686.801333pt;}
.ya{bottom:702.742667pt;}
.y30{bottom:706.794667pt;}
.y2f{bottom:722.734667pt;}
.y9{bottom:737.810667pt;}
.y2e{bottom:738.674667pt;}
.y2d{bottom:754.614667pt;}
.y2c{bottom:770.554667pt;}
.y8{bottom:772.878667pt;}
.y7{bottom:788.818667pt;}
.y2b{bottom:805.332000pt;}
.y2a{bottom:821.272000pt;}
.y6{bottom:823.888000pt;}
.y4b{bottom:840.932000pt;}
.y29{bottom:853.153333pt;}
.y4a{bottom:853.550667pt;}
.y5{bottom:858.956000pt;}
.y49{bottom:866.170667pt;}
.y28{bottom:885.033333pt;}
.y48{bottom:887.565333pt;}
.y4{bottom:887.618667pt;}
.y47{bottom:900.185333pt;}
.y27{bottom:900.973333pt;}
.y46{bottom:912.804000pt;}
.y26{bottom:916.913333pt;}
.y3{bottom:925.320000pt;}
.y45{bottom:925.424000pt;}
.y25{bottom:932.854667pt;}
.y44{bottom:946.820000pt;}
.y24{bottom:948.794667pt;}
.y2{bottom:949.641333pt;}
.y43{bottom:959.438667pt;}
.y42{bottom:972.058667pt;}
.y0{bottom:980.000000pt;}
.y41{bottom:1000.720000pt;}
.y1{bottom:1003.098667pt;}
.h9{height:33.107389pt;}
.h4{height:36.874903pt;}
.h7{height:37.837220pt;}
.h6{height:41.666499pt;}
.h5{height:47.296406pt;}
.h8{height:59.999993pt;}
.h3{height:71.999824pt;}
.h1{height:76.000000pt;}
.h2{height:161.893062pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:22.788000pt;}
.x1c{left:41.808000pt;}
.x12{left:52.030667pt;}
.x7{left:58.262667pt;}
.xc{left:60.748000pt;}
.x1a{left:63.096000pt;}
.x1b{left:65.462667pt;}
.xb{left:68.329333pt;}
.x11{left:73.770667pt;}
.x14{left:76.921333pt;}
.x10{left:79.770667pt;}
.xa{left:84.032000pt;}
.x13{left:91.193333pt;}
.xe{left:97.392000pt;}
.xd{left:100.164000pt;}
.x6{left:101.786667pt;}
.x8{left:104.061333pt;}
.x19{left:108.702667pt;}
.x9{left:118.142667pt;}
.xf{left:133.152000pt;}
.x15{left:150.250667pt;}
.x16{left:154.065333pt;}
.x17{left:159.718667pt;}
.x18{left:165.712000pt;}
.x2{left:211.653333pt;}
.x4{left:294.425333pt;}
.x5{left:316.698667pt;}
.x3{left:331.264000pt;}
}
